.red-border {
  border: 0.1rem solid red;
}

#nav {
  text-align: center;
}

#signin-container {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

#linked-nav {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

#logout-link {
  margin-top: 1rem;
}

.main-card {
  text-align: center;
  margin-top: 2rem;
  margin-left: 15%;
  margin-right: 15%;
}

.image {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.like-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}